<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384785034535-60jqg59hgl807dr11sjonu0tec6i4p4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384785034535-60jqg59hgl807dr11sjonu0tec6i4p4s</string>
	<key>API_KEY</key>
	<string>AIzaSyC5w-EXOgKsp3Ys-eZnFQKMFRqVSrnOVc8</string>
	<key>GCM_SENDER_ID</key>
	<string>384785034535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blaueeiner.efhackathonapp</string>
	<key>PROJECT_ID</key>
	<string>ef-hackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>ef-hackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384785034535:ios:e2509936ab7be45f710d02</string>
</dict>
</plist>